

@model WebApp.Models.AppServiceCertificates

@{
    ViewBag.Title = "Application Service Certificates";
}

<h2>Application Service Certificates</h2>
<div id="dialog" title="Basic dialog">
    <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>
@foreach (WebApp.Models.AppServiceCertificate asc in Model.appServiceCertificates)
{
    <table class="table table-bordered table-striped">
        <tr>
            <td>Certificate Name</td>
            <td>@asc.CertificateName</td>
            <td>
                <div>
                    @using (Html.BeginForm("ReplaceCertificate", "AppServiceCertificate"))
                    {
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.TextArea("ReplacementName", asc.CertificateName, new { @class = "form-control", rows = 5, columns = 40 })
                                @Html.CheckBox("Replace", asc.Replace, new { id = "replaceflag" })
                                @Html.Label("replaceflag", "Replace this certificate on the site?")
                                @Html.Hidden("CertificateName", asc.CertificateName)
                                @Html.Hidden("KeyVaultId",asc.KeyVaultId)
                                @Html.Hidden("KeyVaultSecretName",asc.KeyVaultSecretName)
                                @Html.Hidden("CertificateIssuer",asc.CertificateIssuer)
                                @Html.Hidden("CertificateExpiration",asc.CertificateExpiration)
                                @Html.Hidden("CertificateThumbprint",asc.CertificateThumbprint)
                                @Html.Hidden("SiteName",asc.SiteName)
                                @Html.Hidden("CertificateHostnames",asc.CertificateHostnames)                                
                                <br />
                                <input type="submit" class="btn btn-default" value="Process" />
                            </div>
                        </div>
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td>Key Vault Name</td>
            <td>@asc.KeyVaultId</td>
        </tr>
        <tr>
            <td>Issuer</td>
            <td>@asc.CertificateIssuer</td>
        </tr>
        <tr>
            <td>Certificate Expiration</td>
            <td>@asc.CertificateExpiration</td>
        </tr>
        <tr>
            <td>Certificate Thumbprint</td>
            <td>@asc.CertificateThumbprint</td>
        </tr>
        <tr>
            <td>KeyVault Secret Name</td>
            <td>@asc.KeyVaultSecretName</td>
        </tr>
        <tr>
            <td>Site Name</td>
            <td>@asc.SiteName</td>
        </tr>
        <tr>
            <td>Hostnames in Certificate</td>
            <td>
                @foreach (string host in asc.CertificateHostnames)
                {
                    @host
                }
            </td>
        </tr>

    </table>
}

<h3>OAuth Tokens</h3>
<table class="table table-bordered table-striped" width="200">
    <tr>
        <td width="10%">Access Token</td>
        <td class="rowbody" width="70%">@Model.AccessToken</td>
        <td width="10%">Expires On</td>
        <td width="10%">@Model.AccessTokenExpiry</td>
    </tr>
    <tr>
        <td>Refresh Token</td>
        <td class="rowbody">@Model.RefreshToken</td>
    </tr>
</table>
@{
    using (Html.BeginForm("ClearOAuth", "AppServiceCertificate"))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Clear OAuth Data" />
            </div>
        </div>
    }
    using (Html.BeginForm("GetRefreshTokenAndTest", "AppServiceCertificate"))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Get and Test Refresh Token" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                <p>Click <a href="@ViewBag.AuthorizationUrl" title="here">here</a> to redirect to /oauth2/authorize</p>
            </div>
        </div>
    }
}


@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see your profile. Click <a href="@ViewBag.AuthorizationUrl" title="here">here</a> to sign-in.</p>
}

@if (ViewBag.ErrorMessage == "UnexpectedError")
{
    <p class="text-danger">An unexpected error occurred while retrieving your profile.  You may need to <a href="@ViewBag.AuthorizationUrl">sign-in again</a>.</p>
}

